:root{
    --body-bg:rgb(243,243,244);
    --navbar-bg : rgb(47,64,80);
    --navbar-bg-activated:rgb(34, 49, 62);
    --navbar-maintext:rgb(222, 225, 231);
    --navbar-subtext:rgb(142, 161, 176);
    --notification-blue:rgb(28,132,198);
    --notification-lightblue:rgb(35,198,200);
    --notification-green:rgb(26,179,148);
    --notification-red:rgb(237,85,101);
    --notification-orange:rgb(248,172,89);
    --data-title:rgb(150, 150, 150);
}

body{
    padding: 20px 0px 0 200px;
    background-color: var(--body-bg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.bodyContainerCols{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}



.sideNav{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    background-color: var(--navbar-bg);
    font-size: 12px;
    font-weight: 500;
    color: var(--navbar-maintext);
    padding-bottom: 100px;
}

.profileContainer{
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
}

#profilePicture{
    width: 35%;
    height: 35%;
    border-radius: 100%;
    margin: 5px 0px 5px 0;
}

#profileTitle{
    margin-top: 5px;
    color: var(--navbar-subtext);
}

#profileDropdown{
    position: relative;
    bottom:1.5px;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

ul,li{
    text-decoration: none;
    list-style-type: none;
}

.navOptions{
    padding: 0;
}

.navOption{
    font-weight: 550;
    display: flex;
    flex-direction: column;
    color: var(--navbar-subtext);
}

.navOptionContainer{
    display: flex;
    align-items: center;
}

.navOption-activated{
    color: var(--navbar-maintext);
    border-left: 4px solid var(--notification-green);
    font-weight: 400;
    background-color: var(--navbar-bg-activated);
    padding-bottom: 6px;
    cursor: pointer;
}

.navOption-new{
    background-color: var(--notification-green);
}



.navOption:hover{
    color: var(--notification-green);
    cursor: pointer;
}

.navOptionTitleContainer{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
}

                
#navOptionIcon{
    font-size: 14px;
    margin-right: 10px;
}

#navOptionDropdown{
    font-size: 8px;
    cursor: pointer;
    margin-right: 20px;
}


.navOptionData li{
    color: var(--navbar-subtext);
    margin-bottom: 15px;
    cursor: pointer;
}

.navOptionData li:hover{
    color: var(--notification-green);
}

#pickedData{
    color: var(--navbar-maintext);
}

.notificationLabelOrange,.notificationLabelGreen
,.notificationLabelRed,.notificationLabelBlue
,.notificationLabelWhite,.notificationLabelLightBlue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    margin-right: 20px;
    
}
.notificationLabelOrange{background-color: var(--notification-orange)}
.notificationLabelGreen{background-color: var(--notification-green)}
.notificationLabelBlue{background-color: var(--notification-blue)}
.notificationLabelRed{background-color: var(--notification-red)}
.notificationLabelLightBlue{background-color: var(--notification-lightblue)}
.notificationLabelWhite{background-color: white;}

#notificationLabelText{
    color: white;
    font-size: 10px;
    font-weight: 400;
}

#notificationLabelTextNew{
    font-size: 10px;
    color: var(--notification-green);
}

.firstRowData{
    display: flex;
    /* background: red; */
    width: 96%;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
}

.firstRowDataContainer{
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: white;
    box-shadow: 0px -1px 2px rgb(223, 223, 223);
}

.titlesContainer{
    display: flex;
    padding: 15px 5px 15px 0px;
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 96%;
    margin-left: 10px;
    justify-content: space-between;
    flex-direction: row;
}

.title{
    font-size: 14px;
    color:var(--data-title);
    font-weight: 550;
}

.amount{
    margin-top: 10px;
    margin-left: 15px;
    color:var(--data-title);
    font-size: 26px;
    margin-bottom: -10px;
    font-weight: 400;
}

.footersContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px ;
    font-size: 10px;
    width: 90%;
    /* background-color: red; */
}

.footerTitle{
    color: var(--data-title);
}

.footerNumber{
    color: var(--data-title);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberBlue{
    color: var(--notification-blue);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberLightBlue{
    color: var(--notification-lightblue);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberRed{
    color: var(--notification-red);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberGreen{
    color: var(--notification-green);
    margin-right: 20px;
    font-weight: 550;
}

.secondRowData{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 96%;
    margin-top: 25px;
    justify-content: space-between;
    box-shadow: 0px -1px 2px rgb(223, 223, 223);
}

#ordersGraph{
    width: 70%;
    margin-left: 5px;
    object-fit: contain;
}
.orderGraphsContainer{
    display: flex;
    flex-direction: row;
}

.scalesContainers{
    width: 100%;
}

.scalesContainer{
    /* background: purple; */
    width: 100%;
    margin-bottom: 15px;
    
}

.scale48,.scale60,.scale20{
    border-radius: 5px;
    height: 5px;
    background-color: var(--notification-green);
    margin-left: 15px;
    margin-top: -5px;
}

.scale48{
    width: 48%;
}

.scale60{
    width: 60%;
}

.scale20{
    width: 20%;
}


.btn-group button {
    background-color: transparent; 
    border: 1px solid rgb(230, 230, 230); 
    color: var(--data-title); 
    padding: 2px 4px; 
    cursor: pointer; 
    float: left; 
}

.btn-group button:not(:last-child) {
    border-right: none; 
}

.btn-group button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-group button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-group button:focus{
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.btn-group button:hover{
    opacity: 0.9;
}


.thirdRowData{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: flex-start;
    width: 96%;
    margin-top: 25px;
}

.thirdRowDataContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
    margin-right: 30px;
    box-shadow: 0px -1px 2px rgb(223, 223, 223);
}

#messagesContainer{
    width: 33%;
}

#userProjectListContainer{
    width: 40%;
}

.icon-group{
    display: flex;
    align-items: center;
}

.icon-group i{
    /* background-color: red; */
    color: #c1c1c1;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.newMessagesNotification{
    padding-bottom: 30px;
    background-color: rgb(243, 246, 251);
}

.newMessagesNotificationTitle{
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom:-15px;
}

.newMessagesNotificationTitle i,p {
    font-size: 24px;
    color: var(--data-title);
    margin-left: 10px;
}

.newMessagesNotification .footerTitle{
    margin-left: 18px;
    font-size: 10px;
    color: #6e6e6e;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    border-top: 1px solid rgb(235, 235, 235);
}

.messageContainer .titlesContainer{
    border: none;
    margin-bottom: 0px
}

.senderName{
    color: #6a6a6a;
    font-weight: 550;
    font-size: 12px;
}

.timeAgoNew{
    margin-right: 15px;
    font-size: 12px;
    color: var(--notification-green);
    font-weight: 550;
}

.timeAgo{
    margin-right: 15px;
    font-size: 12px;
    font-weight: 550;
}

.messageBodyText{
    font-size: 12px;
    color: #6e6e6e;
    margin-top: -10px;
    margin-bottom: 0;
    max-width: 95%;
}

.messageDate{
    margin-top: 5px;
    font-size: 11px;
    color: var(--navbar-subtext);
}

.flexTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexTableColumns{
    width: 90%;
    align-self: flex-start;
    /* background-color: red; */
    display: flex;
    justify-content: space-around   ;
    margin-top: 26px;
}

.flexTableColumns span{
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 550;
}

.flexTableRow{
    width: 90%;
    border-top: 1px solid rgb(235, 235, 235);
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 10px;
    color: #6a6a6a;
}

.flexTableRow span{
    font-size: 12px;
    width: 15%;
    font-weight: 50;
    margin-left: 0px;
}


.flexTableRow .notificationLabelOrange, .flexTableRow .notificationLabelGreen{
    margin-right: -15px;
    margin-left: -15px;
    transform: scale(0.7);
}






