:root{
    --body-bg:rgb(243,243,244);
    --navbar-bg : rgb(47,64,80);
    --navbar-bg-activated:rgb(34, 49, 62);
    --navbar-maintext:rgb(222, 225, 231);
    --navbar-subtext:rgb(142, 161, 176);
    --notification-blue:rgb(28,132,198);
    --notification-lightblue:rgb(35,198,200);
    --notification-green:rgb(26,179,148);
    --notification-red:rgb(237,85,101);
    --notification-orange:rgb(248,172,89);
    --data-title:rgb(150, 150, 150);
}

body{
    padding: 20px 0px 50px 200px;
    background-color: var(--body-bg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bodyContainerCols{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.sideNav{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    background-color: var(--navbar-bg);
    font-size: 12px;
    font-weight: 500;
    color: var(--navbar-maintext);
    padding-bottom: 200px;
}

.profileContainer{
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
}

#profilePicture{
    width: 35%;
    height: 35%;
    border-radius: 100%;
    margin: 5px 0px 5px 0;
}

#profileTitle{
    margin-top: 5px;
    color: var(--navbar-subtext);
}

#profileDropdown{
    position: relative;
    bottom:1.5px;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

ul,li{
    text-decoration: none;
    list-style-type: none;
}

.navOptions{
    padding: 0;
}

.navOption{
    font-weight: 550;
    display: flex;
    flex-direction: column;
    color: var(--navbar-subtext);
}

.navOptionContainer{
    display: flex;
    align-items: center;
}

.navOption-activated{
    color: var(--navbar-maintext);
    border-left: 4px solid var(--notification-green);
    font-weight: 400;
    background-color: var(--navbar-bg-activated);
    padding-bottom: 6px;
    cursor: pointer;
}

.navOption-new{
    background-color: var(--notification-green);
}

.navOption:hover{
    color: var(--notification-green);
    cursor: pointer;
}

.navOptionTitleContainer{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
}
                
#navOptionIcon{
    font-size: 14px;
    margin-right: 10px;
}

#navOptionDropdown{
    font-size: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.navOptionData li{
    color: var(--navbar-subtext);
    margin-bottom: 15px;
    cursor: pointer;
}

.navOptionData li:hover{
    color: var(--notification-green);
}

#pickedData{
    color: var(--navbar-maintext);
}

.notificationLabelOrange,.notificationLabelGreen
,.notificationLabelRed,.notificationLabelBlue
,.notificationLabelWhite,.notificationLabelLightBlue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    margin-right: 20px;
    
}
.notificationLabelOrange{background-color: var(--notification-orange)}
.notificationLabelGreen{background-color: var(--notification-green)}
.notificationLabelBlue{background-color: var(--notification-blue)}
.notificationLabelRed{background-color: var(--notification-red)}
.notificationLabelLightBlue{background-color: var(--notification-lightblue)}
.notificationLabelWhite{background-color: white;}

#notificationLabelText{
    color: white;
    font-size: 10px;
    font-weight: 400;
}

#notificationLabelTextNew{
    font-size: 10px;
    color: var(--notification-green);
}

.firstRowData{
    display: flex;
    /* background: red; */
    width: 96%;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
}

.firstRowDataContainer{
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: white;
    box-shadow: 0px -1px 2px rgb(223, 223, 223);
}

.titlesContainer{
    display: flex;
    padding: 15px 5px 15px 0px;
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 96%;
    margin-left: 10px;
    justify-content: space-between;
    flex-direction: row;
}

.title{
    font-size: 14px;
    color:var(--data-title);
    font-weight: 550;
}

.amount{
    margin-top: 10px;
    margin-left: 15px;
    color:var(--data-title);
    font-size: 26px;
    margin-bottom: -10px;
    font-weight: 400;
}

.footersContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px ;
    font-size: 10px;
    width: 90%;
}

.footerTitle{
    color: var(--data-title);
}

.footerNumber{
    color: var(--data-title);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberBlue{
    color: var(--notification-blue);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberLightBlue{
    color: var(--notification-lightblue);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberRed{
    color: var(--notification-red);
    margin-right: 20px;
    font-weight: 550;
}

.footerNumberGreen{
    color: var(--notification-green);
    margin-right: 20px;
    font-weight: 550;
}

.secondRowData{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 96%;
    margin-top: 25px;
    justify-content: space-between;
    box-shadow: 0px -1px 2px rgb(223, 223, 223);
}

#ordersGraph{
    width: 70%;
    margin-left: 5px;
    object-fit: contain;
}
.orderGraphsContainer{
    display: flex;
    flex-direction: row;
}

.scalesContainers{
    width: 100%;
}

.scalesContainer{
    width: 100%;
    margin-bottom: 15px;
}

.scale48,.scale60,.scale20{
    border-radius: 5px;
    height: 5px;
    background-color: var(--notification-green);
    margin-left: 15px;
    margin-top: -5px;
}

.scale48{
    width: 48%;
}

.scale60{
    width: 60%;
}

.scale20{
    width: 20%;
}


.btn-group button {
    background-color: transparent; 
    border: 1px solid rgb(230, 230, 230); 
    color: var(--data-title); 
    padding: 2px 4px; 
    cursor: pointer; 
    float: left; 
}

.btn-group button:not(:last-child) {
    border-right: none; 
}

.btn-group button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-group button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-group button:focus{
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.btn-group button:hover{
    opacity: 0.9;
}

.thirdRowData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: flex-start;
    width: 96%;
    margin-top: 25px;
}

.thirdRowDataContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0px -1px 2px rgb(223, 223, 223);
}

#messagesContainer{
    width: 42%;
}

#userProjectListContainer,#todoListContainer{
    width: 48%;
}

#transactionWorldwideContainer{
    margin-top: 25px;
    width: 96%;
    align-self: flex-end;
}

.icon-group{
    display: flex;
    align-items: center;
}

.icon-group i{
    color: #c1c1c1;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.newMessagesNotification{
    padding-bottom: 30px;
    background-color: rgb(243, 246, 251);
}

.newMessagesNotificationTitle{
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom:-15px;
}

.newMessagesNotificationTitle i,p {
    font-size: 24px;
    color: var(--data-title);
    margin-left: 10px;
}

.newMessagesNotification .footerTitle{
    font-size: 10px;
    color: #6e6e6e;
}

.newMessagesNotificationSubtitle{
    width: 90%;
    margin-left: 15px;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    border-top: 1px solid rgb(235, 235, 235);
}

.messageContainer .titlesContainer{
    border: none;
    margin-bottom: 0px
}

.senderName{
    color: #6a6a6a;
    font-weight: 550;
    font-size: 12px;
}

.timeAgoNew{
    margin-right: 15px;
    font-size: 12px;
    color: var(--notification-green);
    font-weight: 550;
}

.timeAgo{
    margin-right: 15px;
    font-size: 12px;
    font-weight: 550;
}

.messageBodyText{
    font-size: 12px;
    color: #6e6e6e;
    margin-top: -10px;
    margin-bottom: 0;
    max-width: 95%;
}

.messageDate{
    margin-top: 5px;
    font-size: 11px;
    color: var(--navbar-subtext);
}

.flexTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.flexTableColumns{
    width: 90%;
    align-self: flex-start;
    display: flex;
    justify-content: space-around   ;
    margin-top: 26px;
}

.flexTableColumns span{
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 550;
}

.flexTableRow{
    width: 90%;
    border-top: 1px solid rgb(235, 235, 235);
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 10px;
    color: #6a6a6a;
}

.flexTableRow #tableText,.flexTableRow .footerNumberGreen{
    font-size: 12px;
    font-weight: 500;
    width: 50px; 
    margin:0
}

.dateContainer{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    width: 50px;
}

.dateContainer i{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-right: 2px;
    justify-content: space-between;
}

.flexTableRow .notificationLabelOrange, .flexTableRow .notificationLabelGreen{
    margin-right: -10;
    width: 50px;
    padding: 4px;
    font-size: 10px;
}

.todoRowsContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todoRow{
    background-color: rgb(243,243,243);
    width: 85%;
    align-self: center;
    padding: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #888888;
    margin-bottom: 5px;
}

.todoRow .notificationLabelGreen{
    margin-left: 10px;
    width: 50px;
    padding: 4px 2px;
    font-size: 8px;
}

.todoRow .notificationLabelGreen i{
    margin-left: 0px;
    margin-right: 5px;
}

.todoCheckbox{
    margin-right: 10px;
    accent-color: white;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.checkedTask{
    text-decoration: line-through;
}

.userProjectAndTodoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
}

.thirdRowRightSectionContainer{
    display: flex;
    flex-direction: column;
    width: 98%;
}

.tableAndTransactionsContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    padding-bottom: 50px;
}

#transactionsGraph{
    margin-top: 15px;
    width: 40%;
    height: 100%;
    margin-right: 100px;
    object-fit: cover;
}

table{
    padding-left: 20px;
    width: 60%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

#columns{
    margin-top: 15px;
    display: flex;
    width: 60%;
    font-size: 14px;
    margin-left: 5px;
    color: #6a6a6a;
}

tr{
    margin: -5;
}

td{
    font-size: 12px;
    width: 120px;
}

th:nth-child(1), td:nth-child(1){
    margin-right: 15px;
}

th:nth-child(2){
    margin-right: 100px;
}

td:nth-child(2){
    margin-right: 100px;
    margin-left: -90px;
}

th:nth-child(3){
    margin-right: 80px;
}

td:nth-child(3){
    margin-right: 80px;
    margin-left: -50px;
}

td:nth-child(4){
    margin-left: -60px;
}



@media screen and (max-width: 670px) {
    .tableAndTransactionsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: -450px;
    }

    table{
        margin-left: -180px;
        width: 50%;
        transform: scale(0.75);
    }

    tr{
        width: 40px;
    }

    #transactionsGraph{
        margin-top: 55px;
        align-self: center;
        margin-left: 50px;
        width: 70%;
        
    }
    #userProjectListContainer,#todoListContainer{
        width: 100%;
        margin-bottom: 25px;
    }

    #userProjectListContainer{
        width: 100%;
        flex-direction: column;
    }

    .userProjectAndTodoContainer{
        flex-direction: column;
        margin-top: 25px;
        margin-left: 0;
    }

    .messageContainer{
        margin-right: -10px;
    }

    .firstRowData{
        flex-direction: column;
        align-items: center;
    }

    .firstRowDataContainer:not(:first-child) {
        width: 100%;
        margin-top: 25px;
    }

    .firstRowDataContainer:first-child {
        width: 100%;
    }

    .orderGraphsContainer{
        flex-direction: column;
        align-items: center
    }

    #ordersGraph{
        width: 95%;
        object-fit: fill;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .thirdRowData{
        flex-direction: column;
        justify-content: flex-start;

    }

    .messageBodyText{
        max-width: 85%;
    }

    #messagesContainer{
        width: 100%;
    }

    .sideNav{
        padding-bottom: 250%;
    }

    .thirdRowRightSectionContainer{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
        padding:0;
    }

    #transactionWorldwideContainer{
        align-self: flex-start;
        width: 100%;
    }

    .thirdRowDataContainer{
        width: 100%;
    }
    

}

@media screen and (min-width: 671px) and (max-width: 1025px) {
   
    .tableAndTransactionsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: -450px;
    }

    table{
        margin-left: -150px;
        transform: scale(0.95);
    }

    #transactionsGraph{
        margin-top: 55px;
        align-self: center;
        margin-left: 50px;
        width: 70%;
        
    }
    #userProjectListContainer,#todoListContainer{
        width: 100%;
        margin-bottom: 25px;
    }

    #userProjectListContainer{
        width: 100%;
        flex-direction: column;
    }

    .userProjectAndTodoContainer{
        flex-direction: column;
        margin-top: 25px;
        margin-left: 0;
    }

    .messageContainer{
        margin-right: -10px;
    }

    .firstRowData{
        flex-direction: column;
        align-items: center;
    }

    .firstRowDataContainer:not(:first-child) {
        width: 100%;
        margin-top: 25px;
    }

    .firstRowDataContainer:first-child {
        width: 100%;
    }

    .orderGraphsContainer{
        flex-direction: column;
        align-items: center
    }

    #ordersGraph{
        width: 95%;
        object-fit: fill;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .thirdRowData{
        flex-direction: column;
        justify-content: flex-start;

    }

    .messageBodyText{
        max-width: 85%;
    }

    #messagesContainer{
        width: 100%;
    }

    .sideNav{
        padding-bottom: 250%;
    }

    .thirdRowRightSectionContainer{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
        padding:0;
    }

    #transactionWorldwideContainer{
        align-self: flex-start;
        width: 100%;
    }

    .thirdRowDataContainer{
        width: 100%;
    }

   
}


@media screen and (min-width: 1025px) and (max-width: 1350px){

    .tableAndTransactionsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: -450px;
    }

    table{
        margin-left: -150px;
    }

    #transactionsGraph{
        margin-top: 55px;
        align-self: center;
        margin-left: 50px;
        width: 70%;
        
    }
    #userProjectListContainer,#todoListContainer{
        width: 100%;
    }

    #userProjectListContainer{
        margin-bottom: 25px;
    }

    .userProjectAndTodoContainer{
        flex-direction: column;
    }
}