:root{
    --body-bg:rgb(243,243,244);
    --navbar-bg : rgb(47,64,80);
    --navbar-bg-activated:rgb(34, 49, 62);
    --navbar-maintext:rgb(206, 210, 218);
    --navbar-subtext:rgb(131, 140, 146);
    --notification-blue:rgb(28,132,198);
    --notification-green:rgb(5, 209, 182);
}

body{
    background-image: linear-gradient(-90deg,rgb(26,179,148),rgb(35,198,200));
    font-family: Arial, Helvetica, sans-serif;
}

form{
  margin: 100px auto 0 auto;
  width: 40%;
}

.titleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px lightgray solid;
  margin-bottom: 20px;
}

.title{
  color: #3e3e3e;
  font-weight: 700;
  font-size:32px;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  align-self: center;
  box-shadow: 0px 0px 10px rgb(132, 131, 131);
}

input{
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240,240,240);
  margin: 10px 0px 10px 0px;
  color: rgb(0, 140, 122);
  font-weight: 500;
  padding:15px ;
  border-radius: 5px;
  font-size: 17px;
}

input::placeholder{
  font-size: 14px;
  font-weight: 400;
  color:rgb(171, 171, 171);
}

input:focus{
  outline: 2px solid  rgb(0, 181, 157);;
}

input::selection {
   background:#dcdcdc;
  }

label{
  font-size: 16px;
  color: #888888;
  position: relative;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  align-self: center;
  width: 60%;
  margin-bottom: 10px;
  margin-top: 15px;
}

button{
  cursor: pointer;
  width: 50%;
  padding: 15px;
  border-radius: 100px;
  margin-top: 20px;
  align-self: center;
  font-size: 18px;
  border: none;
  color: white;
  font-weight: 550;
  background-color: var(--notification-green);
}

