<div class="flexTable">
    <div class="flexTableColumns">
        <span class="columnTitle">No.</span>
        <span class="columnTitle">Transaction</span>
        <span class="columnTitle">Date</span>
        <span class="columnTitle">Amount</span>
    </div>

    <div class="flexTableRow">
        <span id="tableText"> 1</span>
        <span id="tableText"> Security doors</span>
        <span id="tableText"> 16 june 2014</span>
        <div class="notificationLabelGreen">$483.00</div>
    </div>

    <div class="flexTableRow">
        <span id="tableText"> 2 </span>
        <span id="tableText">Wardrobes</span>
        <span id="tableText">10 june 2014</span>
        <div class="notificationLabelGreen">$327.00</div>
    </div>

    <div class="flexTableRow">
        <span id="tableText"> 3 </span>
        <span id="tableText">Set of tools</span>
        <span id="tableText">12 june 2014</span>
        <div class="notificationLabelOrange">$125.00</div>
    </div>
    
    <div class="flexTableRow">
        <span id="tableText"> 4 </span>
        <span id="tableText">Panoramic pictures</span>
        <span id="tableText">22 june 2013</span>
        <div class="notificationLabelGreen">$344.00</div>
    </div>

    <div class="flexTableRow">
        <span id="tableText"> 5 </span>
        <span id="tableText">Phones</span>
        <span id="tableText">24 june 2013</span>
        <div class="notificationLabelGreen">$235.00</div>
    </div>

    <div class="flexTableRow">
        <span id="tableText"> 6 </span>
        <span id="tableText">Monitors</span>
        <span id="tableText">26 june 2013</span>
        <div class="notificationLabelGreen">$100.00</div>
    </div>
</div>   
<img id="transactionsGraph" src="./assets/transactions-graph.png" alt="transactions-graph">
</div>